@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}


#navbar-default {
    transition: transform 0.3s ease-in-out;
}

.kep {
    position: fixed;
}

.text-terracotta {
    color: #E8A87C;
}

.text-coral {
    color: #41b3a3;
}

.bg-coral {
    background-color:#41b3a3;
}

.text-myred {
    color: #e27d60;
}

.big-image {
    background-image: url("../images/edited-nkl2.png");
    background-repeat: no-repeat;
    background-size: cover;
}