{% extends "main/base.html" %}

{% block title %}Időpontfoglalás{% endblock title %}

{% block content %}
<a href="/" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    <i class="fa-solid fa-house"></i>
</a>
<div class="container mx-auto mt-8 p-8">
    <h1 class="text-center m-6 p-6 text-5xl">{{month}}</h1>
    <h2 class="text-4xl font-bold mb-8">Elérhető napok:</h1>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {% for appointment in object_list %}
            <a href="{% url 'main:foglalas2' month appointment.nap %}" class="rounded-lg overflow-hidden shadow-md p-4 hover:bg-white hover:text-blue-500 text-white text-xl bg-teal-500 text-myred w-[80%]">{{month}} {{appointment.nap}}</a>
        {% endfor %}
    </div>
    <div class="informacio mt-24">
        <h2 class="text-center bg-yellow-500 text-5xl p-8 rounded text-white">Nyitvatartás csak hétfőn és csütörtökön!</h2>
        <p class="p-6 m-6 text-lg italic">Társaságunk az alábbi egészségpénztárakkal áll szerződéses kapcsolatban:
            Allianz Egészség- és Önsegélyező Pénztár, Generali Egészség- és Önsegélyező Pénztár, MKB Egészség- és Önsegélyező Pénztár, OTP Országos Egészség- és Önsegélyező Pénztár, PRÉMIUM Egészségpénztár, Vasutas Egészség- és Önsegélyező Pénztár, Vitamin Egészségpénztár, Új Pillér Egészségpénztár, Patika Egészségpénztár.</p>
    </div>
</div>


{% endblock content %}