{% extends "main/base.html" %}

{% block title %}Időpontfoglalás{% endblock title %}

{% block content %}

    <h1 class="text-center m-6 p-6 text-4xl">{{month}}</h1>
    <h2 class="text-center m-6 p-6 text-xl">Válasszon napot</h2>
    <div class="grid grid-cols-2 text-center">
        {% for appointment in object_list  %}
            <a href="{% url 'main:foglalas2' month appointment.nap %}" class="text-orange-900 text-xl">{{appointment.nap}}</a>

        {% endfor %}
    </div>


{% endblock content %}