{% extends "main/base.html" %}
{% load static %}


{% block content %}
<header class="bg-white">
    <nav class="flex justify-between items-center w-[92%]  mx-auto">
      <div>
          <img class="cursor-pointer h-28" src="{% static 'main/images/nkl-logo.png' %}" alt="...">
      </div>
      <div
          class="nav-links duration-500 md:static absolute bg-white md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto  w-full flex px-5 opacity-80">
          <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8">
              <li>
                  <a class="hover:text-gray-500" href="#arak">Árazás</a>
              </li>
              <li>
                  <a class="hover:text-gray-500" href="#vizsgalatok">Vizsgálatok</a>
              </li>
              <li>
                  <a class="hover:text-gray-500" href="#footer">Kapcsolat</a>
              </li>
              <li>
                  <a class="hover:text-gray-500 bg-yellow-300 p-4" href="{% url 'main:foglalas' %}">Időpontfoglalás</a>
              </li>
          </ul>
      </div>
      <div class="flex items-center gap-6">
          <ion-icon onclick="onToggleMenu(this)" name="menu" class="text-3xl cursor-pointer md:hidden"></ion-icon>
      </div>
    </nav>
    
</header>


<div class="w-full h-full grid grid-cols-2 gap-2 big-image p-1 md:p-24">
    <div class="text-center grid content-center text-xl">
        <h2 class="text-blue-900 md:text-5xl p-2 mb-1">Nagykovácsi</h2>
        <p class="text-red-500 md:text-4xl">Laborszolgáltatás</p>
        <div class="hidden md:block mt-3">
            <h3 class="text-xl text-blue-900">gyermekek és felnőttek teljes körű laborvizsgálata</h3>
        </div>
    </div>
    <div class="text-white text-center">
        <h2 class="md:text-4xl text-xl mb-4 text-blue-900">Üdvözöllek a Nagykovácsi laborszolgáltatás weboldalán!</h2>
        <p class="text-lg text-red-600">Foglald le időpontodat időben!</p>
        <a href="{% url 'main:foglalas' %}" class="mt-4 inline-block bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded hidden md:inline-block"><i class="fa-solid fa-calendar-check"></i> Időpontfoglalás</a>
    </div>
</div>

<div class="text-center">
    <a href="{% url 'main:foglalas' %}" class="mt-4 inline-block bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded md:hidden"><i class="fa-solid fa-calendar-check"></i> Időpontfoglalás</a>
</div>

<h2 class="text-4xl font-bold text-center mt-8 mb-8" id="akt">Aktualitások</h2>
<div class="aktualitasok grid grid-cols-1 md:grid-cols-2 justify-items-center" >
    <div class="m-2"><iframe class="p-2 w-full" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fnagykovacsilaborszolgaltatas%2Fposts%2Fpfbid0u5QBzcyPUYySWxiLHM6swvXfwbNbLo7dC66AxSkDBrrY9awbnEAvNirMe8D2euvkl&show_text=true&width=500" width="500" height="572" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe></div>
    <div></div>
</div>
<main>
  <section class="container mx-auto p-8">
    <h2 class="text-4xl font-bold text-center mb-8" id="vizsgalatok">Vizsgálatok</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {% for service in object_list %}
          <div class="bg-white rounded-lg overflow-hidden shadow-md">
              <img src="{% static 'main/images/nklabor.jpg' %}" alt="Service 1" class="w-full h-40 object-cover">
              <div class="p-4">
                  <h3 class="text-xl font-semibold mb-2 text-red-500">{{service.name}}</h3>
                  <p class="text-gray-600">Description of the service goes here. You can provide details about what this service offers and its benefits.</p>
              </div>
          </div>
        {% endfor %}
    </div>
  </section>
  <section>
    <h2 class="text-4xl font-bold text-center mb-8" id="arak">Árak</h2>
  </section>

  <section class="container mx-auto p-8">

  </section>
</main>

{% endblock content %}