{% extends "main/base.html" %}

{% block title %}Sikeres foglalás!{% endblock title %}

{% block content %}
<div class="text-xl text-center p-6 m-6 text-blue-900">
    <h1 class="text-2xl m-6">Foglalását rögzítettük!</h1>
    <h2>Emlékeztetőül küldtünk önnek egy email-t a megadott email címre.</h2>
    <p>Amennyiben le szertné mondani időpontját azt telefonon megteheti az alábbi számon:</p>
    <p>06 70 325 0310</p>
</div>
<a class="bg-blue-900 text-white p-4 m-6 hover:text-blue-900 hover:bg-white" href="{% url 'main:index' %}">Vissza a főmenübe</a>
{% endblock content %}